<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BuzzerBee´s Collection</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Blog.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="pt-3">
        <div class="container d-flex flex-row justify-content-between align-items-center">
            <div>
                <a class="navbar-brand" asp-area="" asp-page="/Index"><p class="brand">BuzzerBee´s Collection</p></a>
            </div>
            <div>
                <a class="nav-link" asp-area="" asp-page="/About"><p class="nav-menu-item">About me</p></a>
            </div>
        </div>
    </header>
    <div class="">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted position-fixed">
        <div class="container d-flex flex-row justify-content-between align-items-center">
            <p class="nav-menu-item">&copy; 2025 - BuzzerBee´s Collection </p>
            <a class="nav-link" asp-area="" asp-page="/About">
                <p class="nav-menu-item">About me</p>
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
