@page
@model PrivacyModel
@{
    ViewData["Title"] = "About me";
}


<div class="aboutMeDiv d-flex justify-content-center">
    <div>
        <img class="profilHalfImg" src="images/profile/mariahalf.png" />
    </div>
    <div class="d-flex flex-column align-self-start">
        <p class="profilName">Hello there !</p>
        <p class="profilName">I´m <strong>Maria</strong></p>
        <p class="profilTitle">.NET Developer / Fullsnack Developer</p>
        <p class="profilInfo">I began my programming journey in 2022 with Java, which sparked a growing interest in system development and programming. To broaden my knowledge and opportunities, I applied for several IT courses at the IT University of Applied Sciences in Gothenburg. To meet the eligibility requirements, I completed a shorter course in basic programming with Python. In 2023, I was accepted to the ".NET Developer" university of applied sciences program, a two-year program focusing on full-stack development within the .NET environment. In May 2025, I graduated, and today I am active as a .NET developer and full-stack developer.</p>
        <p class="nav-menu-item mb-0 connectText">
            <strong style="font-size: 1.2em;">Connect with me:</strong>
            <a href="https://www.linkedin.com/in/maria-edstr%C3%B6m-6b2215178/"><img class="connectIcon" src="icons/linkedin.png" /></a>
            <a href="https://www.instagram.com/studio_buzzer?igsh=d2F6cHE4NDdnMW5n"><img class="connectIcon" src="icons/instagram.png" /></a>
            <a href="https://github.com/Bumbleebeezz"><img class="connectIcon" src="icons/github.png" /></a>
        </p>
    </div>
</div>>



