@page
@model PrivacyModel
@{
    ViewData["Title"] = "About me";
}


<div class="aboutMeDiv d-flex justify-content-evenly">
    <div>
        <p class="profilName">Hello there,</p>
        <p class="profilName">I´m Maria</p>
        
    </div>

    <div>
        <p class="profilTitle">.NET Developer / Fullsnack Developer</p>
        <p class="profilInfo">Hello peps ! I started my programming journey 2022 </p>
    </div>
</div>

<div class="d-flex justify-content-center">
    <img class="profilImg" src="images/profile/skärmbild 2025-07-02 145828.png" />
</div>


