@page
@model Blog.UI.Pages.DoItYourselfModel
@{
}

<div class="d-flex flex-row justify-content-between">
    <div class="filterMenu border-end">
        <div class="d-flex flex-row border-bottom">
            <img class="filterMenuIcon" src="icons/filter.png" />
            <p class="filterTitle">Filter</p>
        </div>
        <div class="tagsList border-bottom pb-4">
            <p class="tagsTitle">Tags</p>
            <button class="btn active tagBtn">Show all</button>
            <button class="btn tagBtn">Garden</button>
            <button class="btn tagBtn">Organizing</button>
            <button class="btn tagBtn">.</button>
            <button class="btn tagBtn">.</button>
            <button class="btn tagBtn">.</button>
            <button class="btn tagBtn">.</button>
        </div>
    </div>

</div>