@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="main">
    <div class="flex-container text-center">
        <div class="mainHeaderText">
            <p class="welcomeHeader" style="font-weight:bold; font-size : 3em;">
                Hello World !
            </p>
            <p class="welcomeHeader">
                To my little corner of the universe that is internet
            </p>
            <p class="welcomeBody">
                Here you will find some of my favorite photos, recipies and DIYs
            </p>
        </div>
    </div>
</header>

<body>

</body>

<footer>

</footer>

