@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="main">
    <div class="flex-container text-center">
        <div class="mainHeaderText">
            <p class="welcomeHeader" 
                style="font-family: 'playwriteustrad-variablefont_wght', sans-serif; 
                        font-weight:bold; 
                        font-size : 4em;">
                Hello World !
            </p>
            <p class="welcomeHeader">
                To my little corner of the universe that is internet
            </p>
        </div>

    </div>
</header>

<body>
    <div class="mainBody d-flex justify-content-evenly  m-0">
        <a class="navbar-brand" asp-area="" asp-page="/Recipies"><img class="navIcon" src="icons/chef-hat.png" alt="RecipeIcon"></a>
        <a class="navbar-brand" asp-area="" asp-page="/Photografy"><img class="navIcon" src="icons/camera.png" alt="PhotografyIcon"></a>
        <a class="navbar-brand" asp-area="" asp-page="/DoItYourself"><img class="navIcon" src="icons/diy.png" alt="DiyIcon"></a>
    </div>
</body>

<footer>

</footer>

