@page
@model Blog.UI.Pages.PhotografyModel
@{
    ViewData["Title"] = "Photografy";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>

<body>
    <p class="text-center latestTitle">- - - Latest photos - - -</p>
    <div class="d-flex justify-content-center m-5">
        <div class="container m-0 p-0 ">
            
        </div>
        <div class="container m-0 p-0 ">

        </div>
        <div class="container m-0 p-0 ">

        </div>
    </div>

    <div class="d-flex justify-content-start m-5 border-bottom">
        <p style="color: black;">Animal</p>
    </div>
    <div class="d-flex justify-content-start m-5">
        <div class="card" style="width: 15vw;">
            <img class="card-img-top" class="photo" src="~/images/photos/cj5a2529.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    Canon EOS R7
                    <br />
                    225 mm
                    <br />
                    ISO 1600
                    <br />
                    1/1000s
                    <br />
                    F.7.1
                </p>
            </div>
        </div>
    </div>
    
    <div class="container m-0 p-0 ">
        
        <img class="photo" src="~/images/photos/cj5a2529.jpg" />
        <img class="photo" src="~/images/photos/cj5a2818.jpg" />
        <img class="photo" src="~/images/photos/cj5a3389.jpg" />
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

</body>