@page
@model Blog.UI.Pages.PhotografyModel
@{
    ViewData["Title"] = "Photografy";
}


<body>
    <div style="background-color: #393F4A;" class="p-5">
        <p class="text-center latestTitle border-bottom">- - - Latest photos - - -</p>
        <div class="d-flex justify-content-center p-3">
            <div class="m-0 p-0 d-flex justify-content-center">
                <div class="card" style="width:50%; border: 1px solid #393F4A; border-radius: 15px;">
                    <img style="border-radius: 10px;" class="card-img-top" src="~/images/photos/cj5a2529.jpg" alt="Card image cap">
                </div>
            </div>
            <div class="m-0 p-0 d-flex justify-content-center ">
                <div class="card" style="width:74%; border: 1px solid #393F4A; border-radius: 15px; background-color: #393F4A;">
                    <img style="border-radius: 10px;" class="card-img-top d-flex align-self-center" src="~/images/photos/cj5a3389.jpg" alt="Card image cap">
                </div>
            </div>
            <div class="m-0 p-0 d-flex justify-content-center ">
                <div class="card" style="width:50%; border: 1px solid #393F4A; border-radius: 15px;">
                    <img style="border-radius: 10px;" class="card-img-top" src="~/images/photos/cj5a2471.jpg" alt="Card image cap">
                </div>

            </div>
        </div>
    </div>
    

    <div class="d-flex justify-content-start m-5 border-bottom">
        <p class="categoryName">Animals</p>
    </div>
    <div class="d-flex justify-content-center m-5">
        <div class="card">
            <img class="card-img-top" class="photo" src="~/images/photos/cj5a2529.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    <strong>Canon EOS R7</strong>
                    <br />
                    225 mm
                    <br />
                    ISO 1600
                    <br />
                    1/1000s
                    <br />
                    F7.1
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" class="photo" src="~/images/photos/cj5a2471.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    <strong>Canon EOS R7</strong>
                    <br />
                    400 mm
                    <br />
                    ISO 800
                    <br />
                    1/1250s
                    <br />
                    F8.0
                </p>
            </div>
        </div>
        <div class="card" style="width: 20%;">
            <img class="card-img-top" class="photo" src="~/images/photos/cj5a2818.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    <strong>Canon EOS R7</strong>
                    <br />
                    400 mm
                    <br />
                    ISO 800
                    <br />
                    1/1250s
                    <br />
                    F8.0
                </p>
            </div>
        </div>
        <div class="card" style="width: 20%;">
            <img class="card-img-top" class="photo" src="~/images/photos/cj5a3389.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    <strong>Canon EOS R7</strong>
                    <br />
                    400 mm
                    <br />
                    ISO 400
                    <br />
                    1/1250s
                    <br />
                    F9.0
                </p>
            </div>
        </div>
    </div>
    

</body>