

header, footer {
    background-color: #393F4A;
}

p {
    font-family: 'jura-variablefont_wght', sans-serif;
    color : white;
    padding : 0.5em;
}
strong {
    color: #D27D2D;
}

.aboutMeDiv {
    padding-top: 10em;
    padding-left: 25em;
    padding-right: 25em;
    background-color: #393F4A;
    align-items : end;
    max-height : 780px;
}
.brand {
    color: white;
    font-size: 1.6em;
}

.btn {
    background-color: #D27D2D;
    width: 150px;
    border-radius: 50px;
    color: #393F4A;
    font-family: 'jura-variablefont_wght', sans-serif;
    font-weight: bold;
    padding: 0.3em;
}
.btn:hover {
    background-color: white;
    color: #393F4A;
    font-family: 'jura-variablefont_wght', sans-serif;
    font-weight: bold;
}

.card {
    border: 3px solid #f5f3f4;
    border-radius: 20px;
    width: 20%;
    margin: 3em;
}
.cardIcon{
    justify-self : center;
    align-self: center;
}
.card-title {
    font-family: 'jura-variablefont_wght', sans-serif;
}
.card-text {
    font-size: 1.5em;
    color: #393F4A;
}

.connectIcon {
    width: 2rem;
    margin-left : 1em;
}
.connectIcon:hover {
    
}

.filterMenu {
    width: 380px;
    height : 90vh;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 3em;
    font-family: 'vt323-regular', sans-serif;
}
.filterMenuIcon {
    width: 2em;
    height: 2em;
    display: flex;
    justify-self: center;
    align-self: center;
    
}
.filterTitle {
    color: #393F4A;
    font-size: 2.5em;
    margin: 0;
    font-family: 'playwriteustrad-variablefont_wght', sans-serif;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 15px;
    gap: 5px;
}
.flex-container > div {
    border-radius: 5px;
    padding: 8px;
}

.homepageCard{
    border: none;
    width : 18em;
}

.main, .mainBody {
    padding-top: 5em;
    padding-bottom: 5em;
}
.mainHeaderText {
    align-self: center;
}
.modalBtn {
    background-color: transparent;
    color: #393F4A;
    font-size: 1.5em;
    width: 100%;
    
}
.modalBtn :hover {
    color: #D27D2D;
    text-decoration : none;
}

.navLink {
    font-weight: bold;
}
.navLink:hover {
    text-decoration: underline 3px #D27D2D;
}
.nav-menu-item {
    color: white;
    font-size: 1em;
}
.navmenu {
    gap: 20px;
}

.profilHalfImg {
    width: 300px;
}
.profilName {
    font-size: 3em;
    padding-bottom: 0;
    padding-top: 0;
}
.profilTitle {
    font-size: 1.5em;
    padding-top: 0;
    font-weight: bold;
}
.profilInfo {
    padding-top: 2em;
}

.recipeImg {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.tagsTitle {
    color: #393F4A;
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}
.tagBtn {
    background-color: #D27D2D;
    margin-bottom: 1em;
    color: white;
    width: 100%;
}
.welcomeHeader {
    font-size: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.welcomeBody {
    padding-top: 3em;
    font-size: 1.3em;
}



@font-face {
    font-family: 'jura-variablefont_wght';
    src: url('../fonts/jura-variablefont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'playwriteustrad-variablefont_wght';
    src: url('../fonts/playwriteustrad-variablefont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'caveat-variablefont_wght';
    src: url('../fonts/caveat-variablefont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'permanentmarker-regular';
    src: url('../fonts/permanentmarker-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'vt323-regular';
    src: url('../fonts/vt323-regular.ttf') format('truetype');
}    