

header, footer {
    background-color: #393F4A;
}

p {
    font-family: 'jura-variablefont_wght', sans-serif;
    color : white;
    padding : 0.5em;
}

.btn {
    background-color: darkorange;
    width: 200px;
    border-radius: 50px;
    border: 1px solid #3C3C43;
    color: #393F4A;
    font-family: 'jura-variablefont_wght', sans-serif;
    font-weight : bold;
    padding: 0.4em;
}

.main {
    padding-top: 5em;
    padding-bottom: 5em;
}

.brand{
    color : white;
    font-size : 1.6em;
}
.nav-menu-item {
    color: white;
    font-size: 1em;
}

.welcomeHeader{
    font-size : 2em;
}
.welcomeBody {
    font-size: 1.3em;
}

.imgCarousel {
    width: 30vw;
}
.carouselImg{
    width : 100%;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

.flex-container > div {
    border-radius: 5px;
    padding: 8px;
}


.mainHeaderText {
    /* flex:0 1 auto; */
    align-self: center;
}

@font-face {
    font-family: 'jura-variablefont_wght';
    src: url('../fonts/jura-variablefont_wght.ttf') format('truetype');
}


       